.statistics{
    height:  200px;
    width: 400px;
    
    margin: 20px auto;
}
.title{
    text-align: center;
    background-color: #fff;
    padding: 40px ;
}
.stat{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
    
}
.item > span {
    color: #fff;
}
.item:nth-child(1){
    background-color: rgb(81 196 247);
}
.item:nth-child(2){
    background-color: rgb(166 59 242);
}
.item:nth-child(3){
    background-color: rgb(230 76 102);
}
.item:nth-child(4){
    background-color: rgb(27 187 196);
}
.item:nth-child(5){
    background-color: rgb(41, 103, 169);
}
.percentage{
    font-size: 20px;
}
