.transactionHistory{
    text-indent: 0;
    width: 800px;
    margin: 80px auto;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgb(122 137 153);
    border: 1px solid rgb(122 137 153);
    border-collapse: collapse;    
}
.header{
    background-color: rgb(0 188 213);
    height: 50px;
    color: #fff;
    border-radius: 5px;
}
th:not(:first-child){
    border-left: 1px solid white;
}
td{
    text-align: center;
}
td:not(:first-child){   
    border-left: 1px solid rgb(122 137 153);
}
tbody{
    height: 50px;
}
tbody:nth-child(odd){
    background-color: rgba(122, 137, 153, 0.2);
}